<div class="question cases_et_texte">
  <% question.options.forEach((option) => { %>
    <p>
    <input type="checkbox" id="<%= question.id + "-" + option.id  + (multiples ? "-1" : "") %>" name="<%= question.id + "-" + option.id + (multiples ? "-1" : "") %>" value="<%= option.id %>">
    <label for="<%= question.id + "-" + option.id + (multiples ? "-1" : "") %>"><%= option.nom_commun + " (" + option.noms_rue + ")" %></label>
    </p>
  <% }) %>
</div>
