<div class="question image_1colonne">
  <label for="<%= question.id + (multiples ? "-1" : "") %>"><%= question.nom %></label>
  <input id="<%= question.id + (multiples ? "-1" : "") %>" name="<%= question.id + (multiples ? "-1" : "") %>" type="file" onchange="readURL(this);">
  <img id="<%= question.id + (multiples ? "-1" : "") %>-display" src="#" style="display: none;">
</div>
