<div class="question num_plusieurs_colonnes">
  <label for="<%= question.id %>"><%= question.nom %></label>
  <input id="<%= question.id %>" name="<%= question.id %>" type="text" placeholder="<%= question.placeholder %>">
</div>
