<div class="question num_deroulant_2colonnes">
  <label for="<%= question.id + (multiples ? "-1" : "") %>"><%= question.nom %></label>
  <div class="valeurs">
    <input id="<%= question.id + (multiples ? "-1" : "") %>" name="<%= question.id + (multiples ? "-1" : "") %>" type="number">
    <select id="<%= question.id + (multiples ? "-1" : "") %>-option" name="<%= question.id + (multiples ? "-1" : "") %>-option">
      <% question.options.forEach((option) => { %>
          <option value="<%= option.toLowerCase() %>"><%= option %></option>
      <% }) %>
    </select>
  </div>
</div>
