<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>EAC - Signalement</title>
    <meta name="description" content="Responsive tabbed layout component built with some CSS3 and JavaScript">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon.png">
    <script src="https://kit.fontawesome.com/c532ba22e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/eac.css">

    <script src="nav.js"></script>
  </head>
  <body>

    <header class="o-header">
      <div class="o-container">
        <h1 class="o-header__title"><%= titre %></h1>
      </div>
    </header>

    <main class="o-main">
      <form>
        <div class="o-container" id="container-type-crime">
          <% sections.routing.questions.forEach((question) => { %>
            <%- include(process.env.PWD + '/views/partials/' + question.affichage + '.ejs', { question: question }) %>
          <% }) %>
        </div>
        <div class="o-container">

          <div class="o-section">
            <div id="tabs" class="c-tabs no-js">
              <div class="c-tabs-nav">
                <a href="#" class="c-tabs-nav__link is-active">
                  <i class="fas fa-times-circle"></i>
                  <span>Crime</span>
                </a>
                <a href="#" class="c-tabs-nav__link">
                  <i class="fas fa-user-ninja"></i>
                  <span>Suspects</span>
                </a>
                <a href="#" class="c-tabs-nav__link">
                  <i class="fas fa-car"></i>
                  <span>Vehicules</span>
                </a>
                <a href="#" class="c-tabs-nav__link">
                  <i class="fas fa-cannabis"></i>
                  <span>Drogues</span>
                </a>
                <a href="#" class="c-tabs-nav__link">
                  <i class="fas fa-camera"></i>
                  <span>Images</span>
                </a>
              </div>
              <div class="c-tab is-active">
                <div class="c-tab__content">
                  <h2><%= sections.crime.nom %></h2>
                  <p><%= sections.crime.description %></p>
                  <% sections.crime.questions.forEach((question) => { %>
                    <%- include(process.env.PWD + '/views/partials/' + question.affichage + '.ejs', { question: question }) %>
                  <% }) %>
                </div>
              </div>
              <div class="c-tab">
                <div class="c-tab__content">
                  <h2><%= sections.suspects.nom %></h2>
                  <p><%= sections.suspects.description %></p>
                  <% sections.suspects.questions.forEach((question) => { %>
                  <%- include(process.env.PWD + '/views/partials/' + question.affichage + '.ejs', { question: question }) %>
                  <% }) %>
                </div>
              </div>
              <div class="c-tab">
                <div class="c-tab__content">
                  <h2><%= sections.vehicules.nom %></h2>
                  <p><%= sections.vehicules.description %></p>
                  <% sections.vehicules.questions.forEach((question) => { %>
                  <%- include(process.env.PWD + '/views/partials/' + question.affichage + '.ejs', { question: question }) %>
                  <% }) %>
                </div>
              </div>
              <div class="c-tab">
                <div class="c-tab__content">
                  <h2>Stay Busy</h2>
                  <p>Calendar ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quo minus voluptate unde tempore eveniet consequuntur in, quod animi libero rem similique pariatur quos, et eum nisi ducimus, architecto voluptatibus!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aspernatur natus dolorem fuga cumque optio saepe corrupti earum. Ipsam quaerat asperiores similique omnis excepturi temporibus ab eum magnam ipsa, odio.</p>
                </div>
              </div>
              <div class="c-tab">
                <div class="c-tab__content">
                  <h2>Images</h2>
                  <div style="display: flex; justify-content: space-between;">
                    <img style="width: 20%;" src="/images/camera.jpeg">
                    <img style="width: 20%;" src="/images/camera.jpeg">
                    <img style="width: 20%;" src="/images/camera.jpeg">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
    </main>


    <script src="js/src/tabs.js"></script>
    <script>
      var myTabs = tabs({
        el: '#tabs',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
      });

myTabs.init();
    </script>
  </body>
</html>
